*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(135deg,red,blue);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    margin: 100px auto 40px;
    padding: 40px 70px 60px;
    border-radius: 12px;
}
.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}
.todo-app h2 img{
    width: 37px;
    height: 40px;
    margin-left: 20px
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(226, 221, 221);
    padding-left: 10px;
    margin-bottom: 19px;
    border-radius: 10px;
   
}
.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 300;
    font-size: 18px;

}
.row button{
    border: none;
    outline: none;
    background: rgb(255, 145, 0);
    padding: 18px 50px;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    
}
.row button:hover{
    opacity: 0.7;
    transform: scale(0.99);
 

}
ul li{
    font-size: 15px;
    cursor: pointer;
    padding: 12px 8px 20px 50px;
    user-select: none;
    list-style: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    background: url(To-Do-Img/images/unchecked.png);
    background-size: cover;
    top: 9px;
    left: 5px;
    width: 28px;
    height: 30px;
    background-position: center;
    border-radius: 50%;

}
ul li.checked{
    text-decoration: line-through;
    color: #555;

}
ul li.checked::before{
    content: '';
    background: url(To-Do-Img/images/checked.png);
    background-size: cover;
    background-position: center;
}
ul li span{
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 48px;
    height: 40px;
    
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
ul li span:hover{
    background-color: #555;
    color: #fff;
}